.news-container{
    border: 2px solid black;
    display:grid;
    padding: 0 5%;;


}
p{
    margin-left:5%;
}
.headline{
    text-align: center;
}
.article-container{
    padding:2%;
   

}
.body{
    padding:5%;
    border:2px solid red;
    margin-bottom:50px;
    display: grid;
    grid-template-columns: auto
}

.article-title{
    border-bottom:2px solid black;
    font-size:20px
}
.article {
    background-color: antiquewhite;
    padding:5%;
}   