<div class="wrapper imageRevealAnimation">
  <div class="side-box box">
    <H1>MONSTERS</H1>
    <p id="addAnother">Add another?</p>
    <form #monsterName>
      <label for="monsterTitle">Find a monster </label>
      <ng2-completer #monsterTitle class="zoom" [datasource]="monsterNames" [minSearchLength]="2"></ng2-completer>
      <label for="dice">How many you need?</label>
      <input type="text" placeholder="how many mobs you need?" [(ngModel)]="monsterNumber" name="number">


      <button (click)="checkMonster(monsterTitle.value, 0)">Populate</button>
    </form>
    <div class="monster-detail">

    </div>
    <!-- <button (click)="listMonsters()">listMonsters</button>
    <button (click)="listSelected()">selected</button>
    <button (click)="fotology()">fotology</button> -->
  </div>
  <div class="main-box box">

    <div id=beforeSearch>
      <p class="pre-search-main-text">Seach for a monster and keep track of their stats here.</p>
    </div>


    <div class="monster-card box imageRevealAnimation zoom" *ngFor="let monster of monsters let i = index"
      [ngSwitch]="monster.type" id="box{{i+1}}">
      <div *ngSwitchCase="'humanoid'" class="monster-picture human" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'dragon'" class="monster-picture dragon" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'aberration'" class="monster-picture aberration" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'plant'" class="monster-picture plant" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'celestial'" class="monster-picture celestial" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'construct'" class="monster-picture construct" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'beast'" class="monster-picture beast" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'fey'" class="monster-picture fey" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'elemental'" class="monster-picture elemental" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'monstrosity'" class="monster-picture monstrosity" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'undead'" class="monster-picture undead" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'giant'" class="monster-picture giant" (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div *ngSwitchCase="'swarm of tiny beasts'" class="monster-picture swarm-of-tiny-beast"
        (click)="selectMonsterBox($event)">
        <a class="skull-icon" (click)="closeMonsterBox($event)">
          <img class="skull-icon" src="assets/skull.png">
        </a>
      </div>
      <div class="monster-title" id='monsterCard{{i}}' #monsterCard{{i}}>
        <h4>{{monster.name}} </h4>
        Conditions:
        <div *ngFor="let condition of monster.conditions let i=index">
          <h6 class="monster-condition zoom" (click)="removeCondition($event.target.id, $event.target.parentNode)"
            id="{{i}}">{{condition}}</h6>
        </div>

      </div>
      <div class="monster-stats">
        <div class="stats">
          <div style="width:100%">
            <h5>HP:
              <input class="monster-hp zoom" placeholder="{{monster.current_hit_points}}">/{{monster.hit_points}}</h5>
          </div>
          <h5> AC:{{monster.armor_class}} </h5>
          <div class="monster-initiative">
            <h5 style="font-size:22px">Init: {{monster.initiative}}</h5>
          </div>
          <br>
        </div>
        <div class="stats">
          <h6> STR: {{monster.strength}} </h6>
          <br>
          <h6> DEX: {{monster.dexterity}} </h6>
          <br>

          <h6> INT: {{monster.intelligence}} </h6>
          <br>
          <h6> CON: {{monster.constitution}} </h6>
          <br>
          <h6> WIS: {{monster.wisdom}} </h6>
          <br>
          <h6> CHA: {{monster.charisma}} </h6>
          <br>
        </div>
        <div class="monster-notes-card">
          <div *ngIf="monster.notes">
            Notes: {{monster.notes}}
          </div>

        </div>


      </div>

    </div>
    <div class="monster-card" *ngFor="let monster of addedMonsters let i=index ">
      <div class="monster-picture">
        <p>picture</p>
      </div>
      <div class="monster-title">
        <p>{{monster.name}} {{i+1}}</p>
      </div>
      <div class="monster-stats">
        <h3>HP:
          <input placeholder="{{monster.hit_points}}" *ngModel="this.addedMonsters[i].hit_points">
        </h3>

        <p>AC: {{monster.armor_class}}</p>
        <p>STR: {{monster.strength}}</p>
        <p>DEX: {{monster.dexterity}}</p>
        <p>INT: {{monster.inteligence}}</p>
        <p>CON: {{monster.constitution}}</p>
        <p>WIS: {{monster.wisdom}}</p>
      </div>
      <form>
        <input type="text" placeholder="Enter Name" #monsterName>
        <button type="button" (click)="checkMonster(monsterName.value, 1)">Get em</button>
      </form>
    </div>



  </div>
  <div class="bottom-box box">


    <div class="add-monster-button">
      <H3>SPELL FINDER</H3>
      <label for="spellName">Enter Spell Name</label>
      <ng2-completer #spellName class="zoom" [datasource]="spellNames" [minSearchLength]="2"></ng2-completer>
      <button (click)="getSpell(spellName.value)">
        Get Spell
      </button>
      <div *ngIf="this.spellSelected">
        <h4>Name: {{this.currentSpell.name}}</h4>
        <p>Level: {{this.currentSpell.level}}</p>
        <p>Range: {{currentSpell.range}}</p>
        <p>Casting Time: {{currentSpell.casting_time}}</p>
        <p>Duration: {{currentSpell.duration}}</p>
        <p>Components: {{currentSpell.components}}</p>
        <p>Concentration: {{currentSpell.concentration}}</p>
        <p *ngFor="let desc of this.currentSpell.desc">{{desc}} </p>



      </div>
    </div>
  </div>
  <div class="selected-details box" *ngIf="this.selected || this.selected === 0; else noMonster">
    <div class="details-top">
      <div class="details-name">
        <h4>
          <strong>{{monsters[selected].name}}</strong>
        </h4>
        <div>
          <div class="details-info">
            <h5>Hp:
              <input [(ngModel)]='this.monsters[selected].current_hit_points' #selectedMonster
                style="font-size:18px ;color: #92260f" class="selected-hp"
                placeholder="{{monsters[selected].current_hit_points}}"
                (keyup.enter)="updateMonster(selectedMonster.value)">/{{monsters[selected].hit_points}}
            </h5>
            <select #selectedConditon placeholder="status" style="width:100px"
              (change)="updateCondition(selectedConditon.value)">
              <option value="">Status</option>
              <option value="blinded">Blinded</option>

              <option value="charmed">charmed</option>
              <option value="deafened">deafened</option>
              <option value="fatigued">fatigued</option>
              <option value="frightened">frightened</option>
              <option value="grappled">grappled</option>
              <option value="incapacitated">incapacitated</option>
              <option value="paralyzed">paralyzed</option>
              <option value="petrified">petrified</option>
              <option value="poisoned">poisoned</option>
              <option value="prone">prone</option>
              <option value="restrained">restrained</option>
              <option value="stunned">stunned</option>
              <option value="unconscious">unconscious</option>
            </select>
          </div>
        </div>

      </div>
      <div>
        <div class="selected-stats-list">
          <div class="selected-stat">
            Dex:{{monsters[selected].dexterity}}
          </div>
          <div class="selected-stat">
            Str:{{monsters[selected].strength}}
          </div>
          <div class="selected-stat">
            Con:{{monsters[selected].constitution}}
          </div>
          <div class="selected-stat">
            Wis:{{monsters[selected].wisdom}}
          </div>
          <div class="selected-stat">
            Int:{{monsters[selected].intelligence}}
          </div>
          <div class="selected-stat">
            Cha:{{monsters[selected].charisma}}
          </div>
        </div>
      </div>
    </div>
    <h4 style="font-weight:bold">Attacks:</h4>
    <div *ngFor="let action of monsters[selected].actions | keyvalue">
      <p class="monster-text"><span style="font-weight:bold">{{action.value.name}}:</span> {{action.value.desc}}</p>
    </div>
    <h4>Special Abilities:</h4>
    <div *ngFor="let action of monsters[selected].special_abilities | keyvalue">
      <p class="monster-text">
        <span style="font-weight:bold">{{action.value.name}}:</span> {{action.value.desc}}</p>
    </div>
    <textarea placeholder="notes..." class="monster-notes"
      [(ngModel)]='this.monsters[selected].notes'>make a note.</textarea>

  </div>
  <ng-template #noMonster>
    <div class="box">
      <h5>
        Details on your mobs live here - hopefully longer than your players
      </h5>
    </div>
  </ng-template>


</div>
<div class="footer imageRevealAnimation">
    
    

  </div>
