.wrapper{
    display:grid;
    grid-template-columns:1fr 3fr !important;
    grid-template-rows:auto;
    border:1px solid black;
    
    width:auto;
    min-height:750px;
    height:auto;
    grid-template-areas: "sidebox mainbox"
}
.side-box{
    
    display:grid;
    text-align:end;
    border:1px solid black;
    grid-template-rows: 200px 150px;
}
.main-box{
 display:grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-rows: auto;
 grid-gap:1em;
 padding:20px;
}
.monster-picture{
    cursor: pointer;
}

.monster-card{
    display:grid;
    height:auto;
    cursor: pointer;

    border: 2px solid #92260f;
    width:auto;
  
}
.selected{
    background:  #92260f;
  
}
.monster-hp{
    width:25px !important;
}
.monster-detail{
  
}
.monster-picture{
    display: flex;
    justify-content: flex-end;
    height: 250px;
    width: 250px;
    background-image: url(/assets/goblin.jpeg);
    background-size: cover;
    /* background: no-repeat; */
    background-position-y: 48%;
    border: solid 3px #92260f
}
.monster-title{
    border-bottom: solid 3px #92260f
}
.bottom-box{
    display:grid;
    border:1px solid black;
}.mnonster-card-box{
    padding:5%;
    
}
.skull-icon{
    width:30px;
    height:30px;
    cursor: pointer;
    
    background: contain;
    background-image: url(/assets/skull.png)
}