input[type=text]{
    font-size:40px;
}
label{
    font-size:1.5em !important
}
@keyframes imageReveal{
    0%{
        transform: rotate(xx);
        opacity: .01;
        }
    100%{
        transform: rotate(xx);
        opacity: 1.0;
        }
  }
  .imageRevealAnimation{
    animation: imageReveal 1.5s normal;
    
  }
  .zoom:hover {
    transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .zoom {
   transition: transform .1s; /* Animation */
   
    margin: 0 auto;
  }
  .stats{
      display: flex;
      padding:5px;
  }
.wrapper{
    
    display:grid;
    grid-template-columns:1fr 3fr !important;
    grid-template-rows:auto;
    border:1px solid black;
    
    width:auto;
    min-height:750px;
    height:auto;
    grid-template-areas: "sidebox mainbox"
}
.side-box{
    
    display:grid;
    text-align:end;
    border:1px solid black;
    grid-template-rows: 200px 150px;
}
.main-box{
 display:grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-rows: auto;
 grid-gap:1em;
 padding:20px;
 max-height: 400px;
 overflow: auto;
}
.monster-picture{
    cursor: pointer;
}

.monster-card{
    display:grid;
    height:auto;
    cursor: pointer;

    border: 2px solid #92260f;
    width:auto;
  
}
.monster-card ::placeholder{
    color: black;
    font-size: 2em
}
.selected{
    background:  #92260f;
    border:#f8f3d8 3px solid !important;

}
.add-single-monster{
    padding:15%;
}
.monster-text{
    font-size:22px;
}
.selected-details ::placeholder {
    color:#92260f;
    font-size:2em;
}
.selected-details{
    line-height: normal
}

.selected ::placeholder{
    color: black;
    font-size: 2em;
}
.selected-title {
    border-bottom:#f8f3d8 3px solid !important

}
.monster-hp{
    width:60px !important;
}

.monster-picture{
    display: flex;
    justify-content: flex-end;
    height: 250px;
    width: 250px;
    background-image: url(/assets/goblin.jpeg);
    background-size: cover;
    /* background: no-repeat; */
    background-position-y: 48%;
    border: solid 3px #92260f
}
.monster-title{
    border-bottom: solid 3px #92260f
}
.bottom-box{
    display:grid;
    border:1px solid black;
}.mnonster-card-box{
    padding:5%;
    
}
.skull-icon{
    width:30px;
    height:30px;
    cursor: pointer;
    
    background: contain;
    background-image: url(/assets/skull.png)
}